:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f2f3f2;
  place-items: center;
}
